.btn {
  display: inline-block;
  border-radius: 999px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  color: var(--black-color);
  background-color: var(--digital-green-color);
}
