.case {
  display: flex;
  margin: 0 auto;
  padding-top: 80px;

  &__cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition:
      opacity 0.3s,
      visibility 0.3s,
      width 0.3s,
      border-radius 0.3s,
      background-color 0.3s,
      backdrop-filter 0.3s
    ;
    pointer-events: none;

    span {
      font-size: 0;
      text-shadow: 0 0 0 var(--digital-green-color), 0 0 0 var(--digital-green-color), 0 0 15px var(--digital-green-color), 0 0 20px var(--black-color), 0 0 30px var(--black-color), 0 0 20px var(--black-color), 0 0 25px var(--black-color), 0 0 75px var(--black-color);
      color: var(--digital-green-color);
      opacity: 0;
      transition: opacity 0.3s, visibility 0.3s, color 0.3s, text-shadow 0.3s;
    }

    svg {
      position: absolute;
      width: 16px;
      height: 28px;
      fill: var(--main-color);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.arrow-left,
    &.arrow-right {
      border-radius: 120px;
      width: 118px;
      height: 118px;
      background-color: rgba(255, 255, 255, 0.16);
      backdrop-filter: blur(30px);

      svg {
        opacity: 1;
      }
    }

    &.arrow-left {
      svg {
        transform: scaleX(-1);
      }
    }

    &.active-btn {
      background-color: rgba(#00e56d, 0.5);
    }

    &.active-link {
      span {
        text-shadow: 0 0 0 var(--black-color), 0 0 0 var(--black-color), 0 0 15px var(--black-color), 0 0 20px var(--digital-green-color), 0 0 30px var(--digital-green-color), 0 0 20px var(--digital-green-color), 0 0 25px var(--digital-green-color), 0 0 75px var(--digital-green-color);
        color: var(--black-color);
      }
    }

    &.view-case{
      width: auto;
      height: auto;

      span {
        font-size: 40px;
        opacity: 1;
        visibility: visible;
      }

      svg {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__slider {
    position: relative;
    flex: 0 1 1130px;
    overflow: visible;
    min-width: 0;
    transition: all 0.3s;
  }

  &__wrapper {
    align-items: center;
    width: 100%;
    transition: all 0.3s;

    .case__slide.swiper-slide-active {
      .case-item__content {
        opacity: 1;
        visibility: visible;
      }

      .case-item__image-block {
        width: 1130px;
        height: 100%;
      }
    }

    .case__slide.swiper-slide-prev {
      .case-item__image-block {
        transform: translate(45%, -6%);
      }
    }

    .case__slide.swiper-slide-next {
      .case-item__image-block {
        transform: translate(-45%, -6%);
      }
    }
  }

  &__slide {
    position: relative;
    height: 686px;
    transition: all 0.3s;
  }

  &__article {
    height: 100%;
  }

  &__navigation {
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
      opacity: 0;
      cursor: none;
      pointer-events: none;
  }

  }

  &__prev,
  &__next {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 0;
    width: 25%;
    height: 100%;
    transition: all 0s;
    cursor: none;

    &::after {
      display: none;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}

.case-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
  gap: 25px;

  &__image-block {
    position: relative;
    z-index: 2;
    align-self: center;
    overflow: hidden;
    border-radius: 24px;
    width: 600px;
    height: 300px;
    transition: all 0.3s;
  }

  &__view-link {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 50%;
    height: 100%;
    font-size: 0;
    transform: translateX(-50%);
    cursor: none;
    pointer-events: none;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }


  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: auto;
    pointer-events: none;
    gap: 15px;
  }

  &__descr {
    flex: 0 1 440px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--main-color);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #727272;
  }

  &__tags {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 7px 5px;
  }

  &__tag {
    border: 1px solid #727272;
    border-radius: 50px;
    padding: 11px 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #727272;
  }
}




