.numbers {
  padding: 80px 0;

  &__row {
    display: grid;
  }
}

.item-numbers {
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 96px;

  &:not(:first-child) {
    margin-top: -100px;

    @include big-desktop {
      margin-top: -80px;
    }

    @include tablet {
      margin-top: -55px;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: right;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    color: var(--digital-green-color);
    background: linear-gradient(180deg, #00e56d 15.17%, rgba(0, 229, 109, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;

    @include big-desktop {
      font-size: 180px;
    }

    @include tablet {
      font-size: 130px;
    }
  }

  &__text {
    padding-top: 20px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: var(--main-color);

    @include tablet {
      font-size: 25px;
    }
  }
}
