<section class="case">
  <div class="case__cursor">
    <span>view case</span>
    <svg>
      <use xlink:href="img/sprite.svg#arrow-right"></use>
    </svg>
  </div>
  <div class="swiper case__slider">
    <div class="swiper-wrapper case__wrapper">
      <div class="swiper-slide case__slide">
        <article class="case__article case-item">
          <div class="case-item__image-block">
            <img class="case-item__image" src="img/calvin.jpg" alt="Calvin Klein case">
            <a class="case-item__view-link" href="#">View Case</a>
          </div>
          <div class="case-item__content">
            <div class="case-item__descr">
              <h3 class="case-item__title">Calvin Klein</h3>
              <p class="case-item__text">An Iconic Shopify Online Store Reborn</p>
            </div>
            <ul class="list-reset case-item__tags">
              <li class="case-item__tag">UX Consultancy</li>
              <li class="case-item__tag">Perfomance</li>
              <li class="case-item__tag">Technical SEO & Data Layer</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="swiper-slide case__slide">
        <article class="case__article case-item">
          <div class="case-item__image-block">
            <img class="case-item__image" src="img/calvin.jpg" alt="Calvin Klein case">
            <a class="case-item__view-link" href="#">View Case</a>
          </div>
          <div class="case-item__content">
            <div class="case-item__descr">
              <h3 class="case-item__title">Calvin Klein</h3>
              <p class="case-item__text">An Iconic Shopify Online Store Reborn</p>
            </div>
            <ul class="list-reset case-item__tags">
              <li class="case-item__tag">UX Consultancy</li>
              <li class="case-item__tag">Perfomance</li>
              <li class="case-item__tag">Technical SEO & Data Layer</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="swiper-slide case__slide">
        <article class="case__article case-item">
          <div class="case-item__image-block">
            <img class="case-item__image" src="img/calvin.jpg" alt="Calvin Klein case">
            <a class="case-item__view-link" href="#">View Case</a>
          </div>
          <div class="case-item__content">
            <div class="case-item__descr">
              <h3 class="case-item__title">Calvin Klein</h3>
              <p class="case-item__text">An Iconic Shopify Online Store Reborn</p>
            </div>
            <ul class="list-reset case-item__tags">
              <li class="case-item__tag">UX Consultancy</li>
              <li class="case-item__tag">Perfomance</li>
              <li class="case-item__tag">Technical SEO & Data Layer</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="swiper-slide case__slide">
        <article class="case__article case-item">
          <div class="case-item__image-block">
            <img class="case-item__image" src="img/calvin.jpg" alt="Calvin Klein case">
            <a class="case-item__view-link" href="#">View Case</a>
          </div>
          <div class="case-item__content">
            <div class="case-item__descr">
              <h3 class="case-item__title">Calvin Klein</h3>
              <p class="case-item__text">An Iconic Shopify Online Store Reborn</p>
            </div>
            <ul class="list-reset case-item__tags">
              <li class="case-item__tag">UX Consultancy</li>
              <li class="case-item__tag">Perfomance</li>
              <li class="case-item__tag">Technical SEO & Data Layer</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="swiper-slide case__slide">
        <article class="case__article case-item">
          <div class="case-item__image-block">
            <img class="case-item__image" src="img/calvin.jpg" alt="Calvin Klein case">
            <a class="case-item__view-link" href="#">View Case</a>
          </div>
          <div class="case-item__content">
            <div class="case-item__descr">
              <h3 class="case-item__title">Calvin Klein</h3>
              <p class="case-item__text">An Iconic Shopify Online Store Reborn</p>
            </div>
            <ul class="list-reset case-item__tags">
              <li class="case-item__tag">UX Consultancy</li>
              <li class="case-item__tag">Perfomance</li>
              <li class="case-item__tag">Technical SEO & Data Layer</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
    <div class="case__navigation">
      <button class="btn-reset case__prev swiper-button-prev" type="button"></button>
      <button class="btn-reset case__next swiper-button-next" type="button"></button>
    </div>
    <div class="swiper-pagination case__pagination"></div>
  </div>
</section>
