<section class="clients" data-aos="fade-in" data-aos-duration="1500">
  <h2 class="visually-hidden">Our Clients</h2>
  <div class="clients__container">
    <ul class="list-reset clients__items">
      <li class="clients__item">
        <img src="img/easypark.png" alt="easypark">
      </li>
      <li class="clients__item">
        <img src="img/tipico.png" alt="tipico">
      </li>
      <li class="clients__item">
        <img src="img/caleffi.png" alt="caleffi">
      </li>
      <li class="clients__item">
        <img src="img/trafficguard.png" alt="trafficguard">
      </li>
      <li class="clients__item">
        <img src="img/gitnation.png" alt="gitnation">
      </li>
      <li class="clients__item">
        <img src="img/secretescapes.png" alt="secretescapes">
      </li>
      <li class="clients__item">
        <img src="img/bargreen.png" alt="bargreen">
      </li>
    </ul>
  </div>
</section>
