<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title title-hero" data-aos="fade-in" data-aos-duration="1000">
      <span class="title-hero__text title-hero__text--gear">
        Headless
        <img class="title-hero__img" src="img/gear.png" aria-hidden="true" alt="">
      </span>
      <span class="title-hero__text title-hero__text--accent">
        <img class="title-hero__img" src="img/switch.png" aria-hidden="true" alt="">
        Commerce
      </span>
      <span class="title-hero__text title-hero__text--btn">
        Agency
        <a class="title-hero__btn btn" href="#">Request a quote</a>
      </span>
      <!-- <a class="title-hero__btn btn" href="#">Request a quote</a> -->
    </h1>
    <div class="hero__content">
      <img class="hero__rating" width="91" height="48" src="img/rating.svg" alt="Clutch rating">
      <p class="hero__text">
        We build CMS websites and content-rich eCommerce platforms for businesses with complex needs
      </p>
      <ul class="list-reset hero__social social">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">x</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">li</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">fb</a>
        </li>
      </ul>
    </div>
  </div>
</section>
