<!-- <section class="provide" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor=".provide-block__bubble--build"> -->
  <section class="provide">
  <div class="container provide__container">
    <span class="provide__subtitle">we provide</span>
    <div class="provide__block provide-block">
      <h2 class="provide-block__title">
        <span class="provide-block__text">
          Future-proof
          <!-- <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-delay="800"> -->
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor=".provide-block__bubble--build">
            <span class="btn provide-block__bubble provide-block__bubble--dream">
              <svg>
                <use xlink:href="img/sprite.svg#dreambig"></use>
              </svg>
              <span class="provide-block__bubble-text">dream big</span>
            </span>
          </span>
        </span>
        <span class="provide-block__text">
          e-commerce solutions
          <!-- <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-delay="1100"> -->
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor=".provide-block__bubble--build" data-aos-delay="400">
            <span class="btn provide-block__bubble provide-block__bubble--build">
              <svg>
                <use xlink:href="img/sprite.svg#buildfast"></use>
              </svg>
              <span class="provide-block__bubble-text">build fast</span>
            </span>
          </span>
        </span>
        <span class="provide-block__text">
          at optimal budget
          <!-- <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-delay="1400"> -->
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="800">
            <span class="btn provide-block__bubble provide-block__bubble--grow">
              <svg>
                <use xlink:href="img/sprite.svg#growfar"></use>
              </svg>
              <span class="provide-block__bubble-text">grow far</span>
            </span>
          </span>
        </span>
      </h2>
      <!-- Future-proof <br> e-commerce solutions at optimal budget -->
      <!-- <div class="btn provide__bubble bubble-provide bubble-provide--dream">
        <svg>
          <use xlink:href="img/sprite.svg#dreambig"></use>
        </svg>
        <span class="bubble-provide__text">dream big</span>
      </div> -->
      <!-- <div class="btn provide__bubble bubble-provide bubble-provide--build" >
        <svg>
          <use xlink:href="img/sprite.svg#buildfast"></use>
        </svg>
        <span class="bubble-provide__text">build fast</span>
      </div> -->
      <!-- <div class="btn provide__bubble bubble-provide bubble-provide--grow">
        <svg>
          <use xlink:href="img/sprite.svg#growfar"></use>
        </svg>
        <span class="bubble-provide__text">grow far</span>
      </div> -->
    </div>
  </div>
</section>
